{% extends 'layouts/base.html' %}
{% block content %}
    <h1>Bienvenido</h1>
    <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fget.pxhere.com%2Fphoto%2Fman-person-portrait-human-face-forehead-chin-facial-hair-1412284.jpg&f=1&nofb=1&ipt=e6de68cc587779b8f7bb1d0360c33c35ba5f5bb000c5378dd24e567da26fc45c" alt="texto alternativo">
    <div><span>Estudiante de último año de Ingeniería Informática de Servicios y Aplicaciones, con un fuerte interés en el desarrollo de software y la ciberseguridad. Mis conocimientos se centran en lenguajes como PHP, Python y Java, aplicados en diversos proyectos académicos que abarcan desde el desarrollo web hasta la creación de herramientas en Bash para Linux.
Disfruto del trabajo en equipo y me considero una persona resolutiva, con capacidad para analizar problemas y encontrar soluciones eficaces. Busco una oportunidad para iniciar mi carrera profesional en un entorno donde pueda seguir aprendiendo y contribuir con mis habilidades</span></div>
{% endblock %}