<!-- Header Bootstrap -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow">
  <div class="container-fluid">
    <!-- Logo/Marca -->
    <a class="navbar-brand fw-bold" href="{% url 'home' %}">
      Biblioteca
    </a>
    
    <!-- Botón hamburguesa mobile -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <!-- Links de navegación -->
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'home' %}">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Catálogo</a>
        </li>
        <li class="nav-item">
            <!-- HACER DE ESTO UN MENÚ DESPLEGABLE -->
          <a class="nav-link" href="#">Gestión de usuarios</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'admin:index' %}">Admin</a>
        </li>
      </ul>
    </div>
  </div>
</nav>